<h1>Search Users</h1>
{{#if error}}
<span>{{error}}</span>
{{/if}}
{{#if message}}
{{message}}
{{/if}}
<form action="/searchusers" method="post" class="form-inline">
    <div class="form-group mr-2">
        <input type="text" name="id" placeholder="search users by id" class="form-control">
    </div>
    <input type="submit" value="Search" class="btn btn-primary">
</form>
<ul class="list-group mt-2">
    {{#each users}}
        {{>userRow}}
    {{/each}}
</ul>